* {
  box-sizing: border-box;
  font-family: Roboto Mono;
  margin: 0;
  padding: 0;
}

:root {
  /* --primary-clr:rgba(198, 156, 247, 0.995); */
  --primary-clr: rgba(229, 229, 229, 1);
  /* --border-clr: rgba(86, 86, 86, 1); */
}

/* Mobile-First Default Styles (360px)*/

body {
  /* background: url(/assets/images/Untitled\ design\ \(2\).png); */
  /* background-color: rgb(233, 233, 225); */
  background-color: rgb(200, 199, 199);
  min-height: 100vh;
  font-size: 14px;
}

/* Splash Screen Section */
.splashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background: url(/assets/images/Untitled\ design\ \(5\).png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.splashScreen p {
  font-size: 12px;
}

.signIn {
  display: flex;
  align-items: center;
  background-color: black;
  border-style: solid;
  border-color: white;
  flex-direction: column;
  margin-bottom: 75px;
  border-radius: 7px;
  width: 500px;
  height: 300px;
  color: rgb(255, 255, 255);
}

.signIn input {
  font-size: 14px;
  width: 100px;
  background-color: transparent;
  color: white;
  margin-bottom: 5px;
}

.signIn label {
  width: 70px;
  float: left;
  font-size: 12px;
  text-align: left;
}



.signIn button {
  font-size: 12px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: solid;
  border-width: 1px;
  border-color: grey;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
  padding: 2px;
  cursor: pointer;
  width: 80px;
}

.signIn__welcome {
  width: 260px;
}

.signIn__welcome p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}





/* FIXME: fix the styling of sign in button and div */


/* Desktop Section */

.desktop {
  display: none;
}


/* Desktop Navbar Section */

header {
  width: 100%;
}

nav {
  width: auto;
  display: flex;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #565656;
  height: 30px;
  background-color: var(--primary-clr);
  overflow: hidden;
  justify-content: space-between;
}

.nav__right,
.nav__left {
  display: flex;
  list-style: none;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}

.nav__left li,
.nav__right li {
  padding: 2px;
  margin-left: 5px;
}

.nav__right li a {
  text-decoration: none;
}

.nav__right img {
  margin-top: -2px;
  margin-left: 5px;
  width: 25px;
}

.nav__arrow:hover {
  cursor: pointer;
}

.nav__popup {
  display: none;
  z-index: 10000;
  position: absolute;
  right: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 200px;
  height: 120px;
  background-color: var(--primary-clr);
  margin: 10px;
  text-align: center;
  padding: 10px;
  display: flex;
}

.nav__popup button {
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}

.shutDownBtn {
  background-color: rgb(54, 55, 54);
  color: white;
}
/* brightness range */

.range {
  width: 120px;
  -webkit-appearance: none;
  background: grey;
  height: 5px;
  border-radius: 5px;
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

/* Slide-in Popup Section */
.slideIn {
  display: none;
  position: fixed;
  right: -270px; /* start off screen */
  width: 270px;
  height: 35px;
  margin-top: 10px;
  background-color: var(--primary-clr);
  border-style: solid;
  border-width: 1px;
  border-color: #565656;
  z-index: 1000;
  padding: 5px;
  transition: right 0.5s ease-in-out; /* slide effect */
}




/* Desktop Left Section */

.desktop__left img {
  width: 50px;
}

.desktop__left img {
  filter: drop-shadow(3px 4px 0px rgba(86, 86, 86, 1));
}

.desktop__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}
.desktop__left p {
  margin: 7px;
  text-align: center;
  font-size: 9px;
}

.computer,
.projects,
.calculator,
.github,
.tictactoe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

/* TaskBar Section */

.taskbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-clr);
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--border-clr);
  margin: 0;
  height: 30px;
  flex-direction: row;
}

.taskbar button {
  height: auto;
  border-style: solid;
  display: flex;
  width: 200px;
  font-size: 10px;
  border-width: 1px 3px 1px 2px;
  border: outset;
  text-align: left;
}

.taskbar p {
  letter-spacing: 3px;
  margin-left: 5px;
}

.comp__taskbar,
.projects__taskbar,
.tictactoe__taskbar {
  /* display: none; */ /* off: keeps computer taskbar icon showing on refresh */
  background-color: transparent;
  text-align: left;
  margin: 3px;
  padding: 2px;
}

.comp__taskbar:active, .projects__taskbar:active, .tictactoe__taskbar:active, .project:active {
  border-style: inset;
}

.comp__taskbar,
.projects__taskbar,
.tictactoe__taskbar {
    cursor: pointer;
}

/* Modal Title Bar Section */

.titleBar {
  position: sticky;
  width: auto;
  top: 0;
  background-color: var(--primary-clr);
  height: 22px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 2px;
  text-align: center;
  overflow: hidden;
}

.titleBar button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  float: left;
  margin: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0px rgba(86, 86, 86, 1);
}

.titleBar p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 2px;
}


/* Computer Modal Section*/

.comp__modal {
  /* display: none; */ /* off: Keeps computer modal open on refresh*/
  position: fixed;
  z-index: 5000;
  left: 60%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  width: 250px;
  max-width: 100%;
  height: 350px;
  border-style: solid;
  background-color: var(--primary-clr);
  box-shadow: 11px 12px 0px -1px rgba(86, 86, 86, 1);
  overflow-y: auto; /* displays scroll when content exceeds set height */
  position: absolute;
}

.comp__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  font-size: 12px;
  height: auto;
  text-align: center;
}
.comp__content hr {
  width: 30px;
}

.comp__content img {
  float: left;
  width: 40%;
  margin: 15px;
  border-style: solid;
  border-width: 2px;
}

.comp__content li {
  list-style: none;
}


/* Projects Folder Modal Section*/

.projects__modal {
  background-color: var(--primary-clr);
  box-shadow: 11px 12px 0px -1px rgba(86, 86, 86, 1);
  position: fixed;
  display: none;
  border-style: solid;
  border-radius: 5px;
  z-index: 9999;
  width: 250px;
  height: 480px;
  left: 40%;
  top: 30%;
  transform: translate(-20%, -20%);
  overflow-y: auto;
}
.projects__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.projects__buttons button {
  font-size: 12px;
  height: 100px;
  width: 90%;
  border-style: outset;
  border-width: 4px;
  margin-bottom: 4px;
  border-color: rgb(190, 188, 187);
}

.filmForecast {
  background-color: blue;
  color: white;
}

/*  Tic-Tac-Toe Modal */

.tictactoe__modal {
    display: none;
    background-color: var(--primary-clr);
    border-style: solid;
    position: fixed;
    width: 400px;
    right: 10%;
    top: 40%;
    height: 420px;
   transform: translate( 10%, -40%);
  
}

.game__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}

.tictactoe__content {
  display:grid;
  align-items: center;
  justify-items: center;
  background-color: var(--primary-clr);
}

.tile {
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerX {
  color: black;
}

.playerO {
  color: grey;
}

.player__display {
  text-align: center;
  width: 300px;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}

.reset {
  margin: 5px;
  padding: 5px 10px;
  border: outset;
  border-width: 3px;
}

.reset:active {
  border: inset;
}


/* Shut Down Screen Section */
.shutDownScreen {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 1000;
  color: white;
  position: relative;
}

.shutDownScreen button {
  position: absolute;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border: outset;
  border-width: 5px;
  border-color: var(--primary-clr);
}
 .shutDownScreen button:active {
  border: inset;
 }









/* TODO: create close and open function for modal */
/* Close and Open buttons*/
.closeBtn:hover,
.minBtn:hover,
.comp__btn:hover,
.projects__btn,
.calc__btn,
.github__btn,
.tictactoe__btn,
.projects__buttons button:hover {
  cursor: pointer;
}
.closeBtn {
  /* background-color: rgb(177, 41, 41); */
  background-color: rgb(54, 55, 54);
  border-color: black;
}

.minBtn {
  /* background-color: rgb(216, 198, 138); */
  background-color: grey;
  border-color: black;
}

.comp__btn,
.projects__btn,
.calc__btn,
.github__btn,
.tictactoe__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
}

.github__btn {
  text-decoration: none;
}


.github a:visited{
    color: black !important;
}
button {
  color: black;
}

/* Pink mode and Default mode styles */

#pinkTheme {
  border-color: pink;
}

#defaultTheme {
  border-color: grey;
}

.pink-theme {
  background: url("/assets/images/kawaii.png");
}

.pink-theme nav,
.pink-theme .titleBar,
.pink-theme .taskbar,
.pink-theme .nav__popup {
  background-color: #f1bff4;
  border-color: #ac42d7;
}

.pink-theme .closeBtn {
  background-color: #fd87d7;
  border-radius: 20%;
}

.pink-theme .minBtn {
  background-color: #f1bff4;
  border-radius: 20%;
}

.pink-theme .comp__modal,
.pink-theme .projects__modal, 
.pink-theme .tictactoe__modal {
  background-color: rgb(237, 223, 234);
  border-color: #ac42d7;
  color: purple;
  box-shadow: 11px 12px 0px -1px purple;
  
}

.pink-theme .taskbar button {
  border-color: #ac42d7;
  background-color: rgb(237, 223, 234);
  color: purple;
}

.pink-theme .comp__modal {
    scrollbar-color: #fd87d7 #f1bff4;
}

.pink-theme .desktop__left img {
  filter: drop-shadow(3px 4px 0px purple);
}


.default-theme nav,
.default-theme .titleBar,
.default-theme .nav__popup,
.default-theme .taskbar,
.default-theme .projects__modal{
    background-color: var(--primary-clr);
    border-color: black;
    color: black;
}

/* Media Queries */

/* 
360-xs mobile
600- small mobile
900- medium tablet
1200-large tablet landscape
1400 - ex lg desktop */
