* {
    box-sizing: border-box;
    font-family: Roboto Mono;
    margin: 0;
    padding: 0;
}

:root {
    --primary-clr:rgba(234, 234, 234, 1) ;
    /* --primary-clr: rgb(255, 210, 217); */
    --border-clr: rgba(86, 86, 86, 1);
}

body {
    background: url(/assets/images/Untitled\ design\ \(2\).png);
    /* background-color: rgba(180, 206, 206, 0.988); */
    /* background: url(/assets/images/Untitled\ design\ \(1\).png); */
    min-height: 100vh;
}





/* Desktop Navbar Section */

nav {
    
    border-style: solid;
    border-width: 2px;
    border-color: rgba(86, 86, 86, 1);
    height: 30px;
    background-color:var(--primary-clr);
    font-size: 14px;
}

.navList  {
    list-style: none;
    overflow: hidden;
    margin: 0;
    
}

.navList li {
    float: left;
    padding: 5px;
    
}

.navList li a {
    text-decoration: none;
}

.nav__right {
    display: flex;
    align-items: start;
    float: right;
    padding: 4px;
    margin: 0;
    width: 200px;
    justify-content: space-evenly;
}

.nav__right img {
    margin-top: -3px; /* fixes battery icon placement*/
    margin-left: 10px;
    width: 25px;
}

.nav__arrow:hover {
    cursor: pointer;
}


.nav__popup {
    border-style: solid;
    border-width: 2px;
   display: flex;
    width: 250px;
    height: 50px;
    float: right;
    background-color: var(--primary-clr);
    margin: 10px;
    padding: 4px;
    text-align: center;
    
}


/* brightness range */

.range {
    -webkit-appearance: none;
    background: grey;
    height: 5px;
    border-radius: 5px;
    outline: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}





/* Desktop Left Section */

main img {
    width: 50px;
}

/* FIXME: align items vertically */

.desktop__left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 200px;
}
.desktop__left p {
    text-align: center;
    font-size: 9px;
}

.computer, .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
}






/* TaskBar Section */

.taskBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.taskbar__Icons {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    background-color: var(--primary-clr);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--border-clr);
    margin: 0;
    height: 40px;

}
.taskBar img{
    width: 30px;
    padding: 3px;
}

.comp__taskbar, .projects__taskbar {
    /* display: none; */ /* off: keeps computer taskbar icon showing on refresh*/
background-color: transparent;
border: none;

}

.comp__taskbar:hover, .projects__taskbar{
    cursor: pointer;
}




/* Computer Modal Section*/

.comp__modal {
    /* display: none; */ /* off: Keeps computer modal open on refresh*/
    position: fixed;
    z-index: 5000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    border-style: solid;
    border-color: var(--border-clr);
    background-color: rgb(252, 242, 242);
    box-shadow: 11px 12px 0px -1px rgba(86,86,86,1);
    overflow-y: auto; /* displays scroll when content exceeds set height */
    position: absolute;
}

.comp__content {
    z-index: 9999;
    font-size: 12px;
    height: auto;
}

.comp__intro {
    margin: 15px;
    height: 200px;
    width: 360px;
}

.comp__contact {
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: left;
    height: 200px;
    float: left;
    width: 150px;
}

.comp__content img {
    float: left;
    width: 40%;
    margin: 15px;
    border-style: solid;
    border-color: var(--border-clr);
    border-width: 2px;
}





/* Computer Modal -- Title Bar Section */

.titleBar {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--primary-clr);
    height: 22px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 2px;
    text-align: center;
    overflow: hidden;
}

.titleBar button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    float: left;
    margin: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(86,86,86,1);
    
}

.titleBar p {
    margin: 0;
    font-size: 15px;
}

.langIcons img{
    width: 50px;
    border: none;
}


/* Projects Folder Modal Section*/

.projects__modal {
    background-color: rgb(252, 242, 242);
    box-shadow: 11px 12px 0px -1px rgba(86,86,86,1);
    position: fixed;
    display: none;
    border-style: solid;
    z-index: 9999;
    width: 400px;
    height: 450px;
    left: 50%;
    top: 30%;
    transform: translate(-20%, -20%);
}








/* TODO: create close and open function for modal */
/* Close and Open buttons*/
.closeBtn:hover, .minBtn:hover, .comp__btn:hover, .projects__btn{
    cursor: pointer;
}
.closeBtn {
    background-color: rgb(207, 91, 91);
}


.minBtn {
    background-color: rgb(209, 209, 146);
}

.comp__btn, .projects__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

